<h1>All Bucket Lists</h1>

<%= @bucketlists.each do |bucketlist| %>
<ul>
  <li>
  <%= bucketlist.location %> 
  <br />
  <%= bucketlist.title %>
  <br />
  <%= bucketlist.completed %>
  </li>
</ul>

<% end %>


