<h1>All Bucket Lists</h1>

<% if @bucketlists_completed.any? %>
  <% @bucketlists.each do |bucketlist| %>
  <ul>
    <li>
    <p>
      location: 
    <%= bucketlist.location %> 
    <br />
      title: 
    <%= bucketlist.title %>
    <br />
      completed: 
          <% bucketlist.completed %>
    </li>
    </p>
  </ul>
<% else %>
  Please enter in a bucket list.
<% end %>


