<h1>All Bucket Lists</h1>

  <% @bucketlists.each do |bucketlist| %>
  <ul>
    <li>
    <p>
      location: 
    <%= bucketlist.location %> 
    <br />
      title: 
    <%= bucketlist.title %>
    <br />
      completed: 
      <%= bucketlist.completed %>

      <%= link_to "Delete bucket list", profile_bucketlist_path(params[:profile_id], bucketlist.id), method: :delete %>
    </li>
    </p>
  </ul>
  <% end %>



